langchain-core
langchain-community
langchain-openai
langchain-pinecone
langchain-google-community[gmail]
langgraph
trustcall
python-dotenv
typer[all]
beautifulsoup4
pandas
pillow
pytesseract
requests
unstructured
unstructured[md]
unstructured[docx]
wikipedia
pypdf
nltk
# pinecone
# pinecone-client[grpc]
# pip install --upgrade "pinecone-client[grpc]"


poppler
unstructured[local-inference]
pdfminer.six
