langchain-openai
langchain-core
langchain-community
langgraph
trustcall
python-dotenv
typer[all]
beautifulsoup4
pandas
pillow
pytesseract
requests
unstructured
wikipedia
pypdf
poppler
unstructured[local-inference]
pdfminer.six
